/.idea/.idea.CPPro-Tooling.dir/.idea/.gitignore
/.idea/.idea.CPPro-Tooling.dir/.idea/.name
/obj/
/bin/
/.idea/.idea.CPPro-Tooling.dir/.idea/encodings.xml
/.idea/.idea.CPPro-Tooling.dir/.idea/indexLayout.xml
/.idea/.idea.CPPro-Tooling.dir/.idea/vcs.xml
/bin/Debug/net6.0/DataBaseDefinitions/